*{
    margin: 0;
}
.zj-main{
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    background-color: #333;
}
.zj-title{
    height: 4vh;
    /* outline: 1px solid red; */
    width: 100%;
    text-align: center;
    line-height: 4vh;
    color: #3087e5;
    font-size: 24px;
}
.zj-body{
    height: 96vh;
    /* outline: 1px solid orange; */
    width: 100%;
    display: flex;
}
.zj-one{
    width: 30%;
    height: 96vh;
    /* outline: 1px solid red; */
}
/* 地图部分 */
.zj-two{
    width: 40%;
}
.zj-map-title{
    width: 385px;
    height: 4vh;
    border: solid 1px #042256;
    background-color: #02122f;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    color: #fff;
    line-height: 4vh;
}
.zj-map-title>section{
    width: 50%;
    font-size: 18px;
    text-align: center;
}
.zj-map-title>section:nth-child(2){
    border-left: 1px solid #042256;
}
.zj-map{
    width: 100%;
    height: 60vh;
    /*outline: 1px solid yellow;*/
}
#map-wrap{
    width: 100%;
     height: 100%;
    /* outline: 1px solid red; */
}
.zj-one>div{
    width: 100%;
    height: 32vh;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.zj-two>div:nth-child(1){
    width: 100%;
    height: 64vh;
    /* outline: 1px solid yellow; */
}
.zj-two>div:nth-child(2){
    width: 100%;
    height: 32vh;
    /* outline: 1px solid green; */
}
#main,#main2{
    width: 95%;
    height:100%;
}

.zj-one>div:nth-child(1){
    position: relative;
}
.zj-one>div:nth-child(1)>span:nth-child(1){
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 2vh;
    left: .5vw;
}
.zj-one>div:nth-child(1)>span:nth-child(2){
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: .6vh;
    right: .1vw;
}
.zj-section,
.zj-other{
    width: 90%;
    height: 28vh;
    border: 1px solid #042256;
    border-radius: 5px;
    /* outline: 1px solid orange; */
}
.zj-section>div:nth-child(1){
    width: 100%;
    height: 5vh;
    text-align: center;
    color: #fff;
    line-height: 5vh;
    font-size: 18px;
    background-color: rgba(3, 27, 68, 0.54);
}
#main1,#main3,#main4{
    width: 100%;
    height: 23vh;
    /* outline: 1px solid red; */
}
/* 地图下面的那块 */
.zj-two>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.zj-other>div:nth-child(1){
    width: 100%;
    height: 5vh;
    color: #fff;
    line-height: 5vh;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0 15px;
    background-color: rgba(3, 27, 68, 0.54);
}
.zj-other>div:nth-child(1)>span:nth-child(2){
    float: right;
}
.zj-other>div:nth-child(2){
    width: 100%;
    height: 23vh;
    display: flex;
}
.zj-other>div:nth-child(2)>section:nth-child(1){
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}
.zj-other>div:nth-child(2)>section:nth-child(2){
    width: 50%;
    height: 100%;
}
/* 表格 */
.zj-table>div:nth-child(1){
    display: flex;
}
.zj-table>div:nth-child(1)>section{
    width: 33.33%
}
.zj-block>div{
    width: 100%;
    height: 7.7vh;
    /* outline: 1px solid red; */
    display: flex;
    border-bottom: 1px solid #042256;
}
.zj-block>div>section{
    width: 33.33%;
    height: 100%;
    line-height: 7.7vh;
    text-align: center;
    color: #fff;
}
.zj-block>div:last-child{
    border-bottom: none;
}
/* 左下角饼图重定义 */
.zj-customize{
    position: relative;
}
.zj-child{
    position: absolute;
    bottom: 0;
    color: #fff;
    right: 0;
    font-size: 14px;
}
.zj-child>p>span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
/* color: ['#31b1e5', '#064eb6', '#e5e5e5'], */

